@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: url("/assets/images/bg.jpg");
  background-size: cover;
  color: white;
  overflow-x: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.navigation {
  display: flex;
  height: 20px;
  margin-top: 20px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  z-index: 40; }

.navigation__arrow {
  margin-right: 23px;
  color: white;
  margin-left: 23px;
  height: 10px; }

.navigation__title {
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  color: white;
  font-weight: 300;
  letter-spacing: 5px; }

.header {
  color: white;
  font-family: "poppins", sans-serif; }

.header__box {
  position: absolute;
  top: 0;
  height: 300px;
  width: 100%; }

.box__img {
  position: absolute;
  top: 0;
  z-index: -5;
  height: 300px;
  width: 100%; }

.box__title {
  font-size: 1.7rem;
  color: white;
  font-family: "poppins", sans-serif;
  margin-top: 20px;
  padding: 20px;
  font-weight: bold; }

.box__desc {
  font-size: 0.9rem;
  margin-top: -30px;
  margin-left: 20px;
  font-weight: bold; }

.box__hastag-title {
  font-size: 15px;
  margin-top: 60px;
  margin-left: 20px;
  margin-bottom: 5px;
  font-weight: lighter; }

.box__hastag {
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: -10px;
  font-size: 10px;
  font-weight: bold;
  height: 15px;
  border-radius: 50px;
  display: inline-block;
  background-color: #FF1168; }

.main {
  margin-top: 100px;
  height: 450px;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-row: auto; }

.main__container {
  width: 350px;
  height: 350px;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: -50px;
  position: relative;
  overflow: hidden; }

.container__img {
  width: 100%;
  position: absolute;
  opacity: 1;
  margin-top: 2px;
  z-index: 0; }

.section__artistIMG {
  height: 45px;
  margin-left: 40px;
  margin-top: 80px;
  position: absolute; }

.section__title {
  position: absolute;
  margin-top: 50px;
  margin-left: 30px;
  font-size: 1rem;
  z-index: 1; }

.section__artist {
  position: absolute;
  margin-top: 100px;
  margin-left: 100px;
  font-size: 0.75rem;
  z-index: 1;
  font-weight: 300; }

.section__section {
  position: relative;
  width: 375px;
  margin: 0 auto; }

.section__container {
  position: relative;
  width: 300px;
  margin: 0 auto;
  margin-top: 80px; }

.container__slider {
  width: 300px;
  z-index: -3;
  height: 5px;
  margin-top: 100px;
  float: left;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.3); }

.slider__progress {
  background-color: white;
  position: absolute;
  width: 0px;
  float: left;
  border-radius: 15px;
  height: 5px; }

.slider__playhead {
  width: 15px;
  height: 15px;
  margin-top: -5px;
  border-radius: 50%;
  background: white; }

.container__start {
  position: absolute;
  margin-top: 120px;
  margin-left: 25px;
  font-size: 0.75rem; }

.container__end {
  position: absolute;
  margin-top: 120px;
  right: 50px;
  font-size: 0.75rem; }

.section__functions {
  position: relative;
  width: 375px;
  margin: 0 auto;
  margin-top: 250px;
  display: flex;
  justify-content: space-evenly; }

.functions__shuffle {
  width: 20px; }

.functions__back {
  width: 25px; }

.functions__play {
  width: 50px; }

.functions__forward {
  width: 25px; }

.functions__repeat {
  width: 20px; }

.homeFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 65px;
  z-index: 6;
  background-color: #111625; }

.homeFooter__shadow {
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0.5;
  z-index: -10; }

.container__container {
  z-index: 7;
  background-color: #111625;
  width: 100%;
  height: 65px; }

.homeFooter__container {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  width: auto;
  height: 65px;
  box-shadow: -10px 0 50px rgba(0, 0, 0, 0.8);
  padding-left: 20px; }

.container__pulse {
  height: 25px;
  width: 25px; }

.container__mic {
  height: 25px;
  width: 15px; }

.container__box {
  width: 50px;
  display: inline-block; }

.box__circle {
  position: relative;
  z-index: 1;
  margin-top: 5px;
  width: 45px; }

.box__wifi {
  width: 35px;
  z-index: 2;
  position: absolute;
  margin-left: -40px;
  margin-top: 10px; }

.container__contast {
  fill: white;
  height: 25px;
  width: 25px; }

.container__gear {
  height: 25px;
  width: 25px; }
